<%- include('../partials/header') %>

<table id="coffeelist">
    <thead>
      <tr>
        <th>Coffee Origin/ Name:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% beans.forEach(function(b) { %>
        <% console.log (b.user._id ) %>
        <% console.log (user._id ) %>
        <% if (user._id.toString() === b.user._id.toString() ) {%>
        <tr>
          <td><%= b.coffeename %></td>
          <td><a href="/beans/<%= b._id %>">View</a></td>
        </tr>
        <% } %>
        <% }); %>
      </tbody>
</table>
    
<%- include('../partials/footer') %>