<!DOCTYPE html>
<html>
  <head>
    <title>coffee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>coffee</h1>
    <p>Welcome to a coffee tasting experience<%= title %></p>
  </body>
</html>
