* {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  color: #494642;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(245, 237, 217);
}

body > nav {
  grid-area: nav;
  background-color: #a5c6e6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #cdd2dd;
}

nav > a.active {
  color: white;
  cursor: default;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 15rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

/* Start of collapse coffee method */

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #e0b43b;
  font-weight: bold;
  /* Icon */
}

.tab-label:hover {
  background: #e9cd80;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #4e4d4a;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}

input:checked + .tab-label {
  background: #daa105;
  color: white;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

#chck1, #chck2, #chck3, #chck4, #chck5, #chck6  {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* end of collapse coffee method */


