<%- include('../partials/header') %>

<div class="tabs">
    <div class="tab">
       <input type="checkbox" id="chck1">
       <label class="tab-label" for="chck1">POUR OVER/ DRIP</label>
       <div class="tab-content">
            1. heat the water until its boiling and allow it to cool for approximately 30 seconds.
            <br>
            2. Grind coffee to a coarseness resembling sea salt. For blends, we recommend using 30 grams of coffee.<br>
            <br>
            3. Place a filter in the dripper. It is recommend wetting the filter with hot water and then dumping the water before proceeding with brewing.<br>
            <br>
            4. Add the ground coffee to the filter and gently tap it to level the surface of the grounds.<br>
            <br>
            5. There will be four pours total for this coffee preparation. This is the first, and the most magical, because it is when you will see the coffee “bloom.” As hot water first hits the grounds, Co2 is released creating a blossoming effect—the grounds will rise up en masse.<br>
            Start a timer. Begin pouring water slowly over the coffee, starting at the outer rim and moving in a steady spiral toward the center of the grounds. Stop pouring when the scale reaches 60 grams. Make sure all the grounds are saturated, even if you need to add a little water. The pour should take about 15 seconds. Give the coffee an additional 30 seconds to drip before moving on to the second pour.<br>
            <br>
            6. Starting in the center of the grounds, pour in a steady spiral toward the outer edge and then back toward the center. Be sure to pour all the way out to the edge over the ripples in the filter. This helps to keep grounds from being trapped in there and removed from the rest of the extraction. Add roughly 90 grams, bringing the total to 150 grams. The goal during this pour is to sink all of the grounds on the surface of the bed. This creates a gentle turbulence that “stirs” the coffee, allowing water to more evenly extract the grounds. Allow 45–65 seconds to elapse.<br>
            <br>
            7. As the mixture of water and coffee from the second pour drops to the bottom of the filter, coming close to the level of the grounds, pour an additional 100 grams of water using the same pattern as the second pour. This brings the total up to 250 grams and should take 15–20 seconds.<br>
            <br>
            8. When the water and coffee from the third pour drops to the bottom of the filter, complete your fourth and final pour. Add 100 grams, bringing the total up to 350 grams of water. This pour should take 20 seconds.<br>
            <br>
       </div>
    </div>
    <div class="tab">
       <input type="checkbox" id="chck2">
       <label class="tab-label" for="chck2">PRESS</label>
       <div class="tab-content">
          FRENCH PRESS:
          <br>
         1. Preheat the french press coffee maker by pouring in some hot water.
         <br>
         2. Weigh your coffee - standard measurement is 8 g of coffee grounds to 4 ounces of water.
         <br>
         3. Boil your water.
         <br>
         4. Grind the beans after measuring them out.
         <br>
         5. Add ground coffee to the Bodum french press after dumping out the warming water.
         <br>
         6. Add boiling water to coffee grounds and use stirring spoon to stir.
         <br>
         7. Set a timer for 4 minutes and relax while you wait.
         <br>
         8. Slowly push down on the plunger until it hits the bottom.
         <br>
         9. Pour your fresh french press coffee into your favorite mug and enjoy a delicious cup of coffee.
         <br>
         10. Don’t let the coffee sit in the french press too long because it will burn and become bitter.
         <br>
         <br>
         <br>
         AERO PRESS:
         <br>
         1.  measure out 2.5 tablespoons, or one very-full Aeropress scoop (a full scoop is about 16 grams) grind your
         coffee beans until they're medium-fine.
         <br>
         2. Place the filter inside of the Aeropress cap, and use boiling water to wash out the filter and wet your Aeropress.
         Don't forget to throw out the water before brewing!
         <br>
         3. heat the water until its boiling and allow it to cool for approximately 30 seconds.
         <br>
         4. Ensuring the brew chamber of the Aeropress is placed securely on top your mug, go ahead and add the coffee. 
         Shake chamber to level your grounds.
         <br>
         5. Add your hot water with the aim to fill your chamber within 10 seconds. Twist the chamber as pour, this will ensure you wet your grounds evenly.
         Add water up to or above the number 4 on the Aeropress chamber. 
         <br>
         6. Give the coffee slurry a quick stir. Insert the Aeropress plunger into the chamber at a slight angle, then straighten it up and pull it out slightly to create a vacuum seal.
         Set your timer and wait for 1 minute.
         <br>
         7. Remove your pressure seal and give the whole thing another stir. Insert the plunger back into the chamber and slowly begin to press. Aim to push the plunger down fully over the course of 1 minute.
         You’ll know when your coffee is brewed when you hear a hissing sound, indicating that there's no water left in the AeroPress to push through.
         <br>
         8. If you feel it needs it, add more water. You should be aware the AeroPress produces a pretty strong tasting cup of Coffee.
         <br>
         9. The best way to clean your AeroPress is to unscrew the cap and push the plunger until both the filter and coffee grounds pop out. The harder you push, the more satisfying it will be. If you’re brewing another cup,
         your Aeropress is pre heated and ready to go.
         <br>
         <br>
       </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">ESPRESSO</label>
        <div class="tab-content">
           espressoinfo
        </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">MOKA POT</label>
        <div class="tab-content">
            <br>
            1. Separate your stovetop espresso maker into its three parts: The lower portion for the water, The filter for the coffee grounds,
            The upper chamber for the finished coffee.
            <br>
            2. Grind the coffee on a fairly coarse setting. (if the grounds are too fine it can leak and cause issues.)
            <br>
            3. Fill the lower part of your stovetop espresso coffee maker chamber with cold, filtered water. Don’t fill past the safety valve!
            <br>
            4.
        </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">VACCUM POT</label>
        <div class="tab-content">
           vaccum potinfo
        </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck6">
        <label class="tab-label" for="chck6">COLD BREW</label>
        <div class="tab-content">
           coldbrewinfo
        </div>
    </div>
</div>

<%- include('../partials/footer') %>