<%- include('../partials/header') %>

<h1>Brewing Methods!</h1>

<a href="/brews/index">Pour Over/Drip</a>
<a href="/brews/index">Press</a>
<a href="/brews/index">Espresso</a>
<a href="/brews/index">Moka Pot</a>
<a href="/brews/index">Vaccum Pot</a>
<a href="/brews/index">Cold Brew</a>



<%- include('../partials/footer') %>
